.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	input {
		display: inline-block;
		line-height: 20px;
	    padding: 5px 10px;
	    border: 2px solid #222;
	}
	button {
		display: inline-block;
	}
}