.single-movie{
	width: 785px; /* 300 x 1.618 x 1.618 */
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	color: #222;
	background-color: #DDD;
	.general-info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.img {
			width: 200px;
			height: 300px;
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 500px;
			height: 300px;
			.title {
				font-size: 14pt;
				font-weight: bold;
			}
			.info-wrapper {
				display: flex;
				flex-direction: column;
				.info-item {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #BBB;
					.info-type {
						width: 170px;
						margin-right: 5px;
						text-align: right;
						font-style: italic;
					}
					.info-value {
						width: 320px;
						margin-left: 5px;
						text-align: left;
					}
				}
			}
		}
		button {

		}
	}
	.overview {
		margin: 10px 0;
	}
	.recommendations {
		width: 765px;
		.recommendations-header {
			font-size: 12pt;
			font-weight: bold;
		}
		.recommended-movies {
			display: flex;
			justify-content: space-between;
			.recommended-movie {
				
				
			}
		}
	}
}
