.movie-list {
	min-height: calc(100vh - 215px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 5px;
	.is-loading{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
